/*----------------------------------------*/
/*  01. Theme default CSS
/*----------------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  @include body();


}

.body-2{
  h1,h2,h3,h4,h5,h6{
    color: $title-color
  }

  p{
    color: $pragraph-color;
  }
}

.body-3{
  h1,h2,h3,h4,h5,h6{
    color: $gray-8;
    font-family: $body-3-font-family;
  }
  
  p,a{
    font-family: $body-3-font-family;
    color: $pragraph-color;
  }

}




a {
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  &:hover,
  &:focus {
    text-decoration: none;
    outline: none;
  }
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  // display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

.h1,
h1 {
 font-size: 66px;
 line-height: 1;
}

.h2,
h2 {
 font-size: 28px;
 line-height: 1.2;
 margin-top: -6px;

 @include lg {
  font-size: 38px;
 }

 @include xl {
  font-size: 48px;
 }
}

.h3,
h3 {
 font-size: 36px;
 line-height: 1.2;
}

.h4,
h4 {
 font-size: 28px;
 line-height: 1.2;
}

.h5,
h5 {
 font-size: 22px;
 line-height: 1.2;
}

.h6,
h6 {
 font-size: 18px;
 line-height: 1.2;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  color: $black
}

.small-title{
  color: $black-7;
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
}
.small-text{
  color: $gray-7;
  font-size: 9px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
}

.md-block{
  display: none;
}
.lg-block{
  display: none;
}

.bg {
  &-black {
    background-color: $black;

    &-1 {
      background-color: $black-1;
    }

    &-4 {
      background-color: $black-4;
    }

    &-18 {
      background-color: $black-18;
    }
  }
  &-blue-secondary{
    background-color: $secondary-blue;
  }

  &-1 {
    background-color: $bg-1;
  }

  &-2 {
    background-color: $bg-2;
  }

  &-3 {
    background-color: $bg-3;
  }

  &-4 {
    background-color: $bg-4;
  }
  &-6 {
    background-color: $bg-6;
  }
  &-blue{
    &-light{
      &-50{
        background-color: #F0F9FF;
      }
      &-15{
        background-color: rgba(0, 163, 255, 0.15);
      }
    }

    &-navy{
      &-15{
        background-color: rgba(51, 0, 255, 0.15);
      }
    }
  }

  &-pink-50{
    background-color: #FDF2FA;
  }
  &-ros-50{
    background-color: #FFF1F3;
  }
  &-orange-dark-50{
    background-color: #FFF4ED;
  }
  &-success-50{
    background-color: #ECFDF3;
  }
  &-indigo-50{
    background-color: #EEF4FF;
  }
  
  &-piple{
    &-15{
      background-color: rgba(190, 4, 183, 0.15);
    }
  }
  &-green{
    &-15{
      background-color: rgba(0, 209, 46, 0.15);
    }
  }
  &-soul{
    &-15{
      background-color: rgba(204, 24, 0, 0.15);
    }
  }

  &-primary-50{
    background-color: #F9F5FF;
  }
  &-gray-blue-50{
    background-color: #F8F9FC;
  }
}

.color-primary {
  color: $primary;
  &-2{
    color: $primary-2;
  }
}

.paragraph-color{
  color: $pragraph-color;
}
.border-color{
  color: $primary-2;
}
.color{
  &-primary{
    color: $primary;
  }
  &-primary-2{
    color: $primary-2;
  }

  &-white{
    color: $white;
  }

  &-paragraph{
    color: $pragraph-color;
  }

  &-title{
    &-50{
      color: rgba(3, 7, 30, 0.50);
    }
    &-80{
      color: $title-color-80;
    }
  }
}

.fw-700{
  font-weight: 700;
}

.text{
  &-primary{
    color: $primary;
  }
  &-secondary-700{
    color: $secondary;
  }
  &-gray{
    &-2{
      color: $gray-2;
    }
    &-3{
      color: $gray-3;
    }
    &-8{
      color: $gray-8;
    }
    &-piple{
      color: $piple;
    }
    &-blue{
      color: $blue;
    }

    
  }
  &-pink{
    color:#C11574 ;
  }
  &-ros{
    color: #C01048;
  }
  &-orange-700{
    color: #B93815;
  }
  &-indigo-700{
    color: #EEF4FF;
  }
  &-blue{
    &-light{
      color: $blue-light;
    }
    &-navy{
      color: $blue-navy;
    }
  }
  &-success-700{
    color: #027A48;
  }
  &-primary-700{
    color: $text-primary-700;
  }
  &-gray-blue-700{
    color: #363F72;
  }

  &-blue{
    &-101{
      color: #026AA2;
    }
    &-navy{
      color: $blue-navy;
    }
  }

  &-piple{
    color: $piple;
  }
  &-soul{
    color: #D37540;
  }

}




.section {
  &-title {
    font-size: 28px;
    line-height: 1.3;
    &-2{
      font-size: 25px;
      line-height: 1;
      
    }
  }
  
  &-text{
    font-size: 14px;
    font-weight: 600;
    line-height: 24px;
    margin: 0 auto;
  }
  &-subtitle {
    font-weight: 600;
    font-size: 16px;
    line-height: 1.88;
    text-transform: uppercase;
    text-shadow: 0px 25px 100px rgba(38, 203, 169, 0.18);

    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: inline-block;
    margin-bottom: 5px;

    &-2 {
      font-weight: 600;
      font-size: 14px;
      line-height: 1.43;
    }
  }

  &-item {
    &-title {
      font-weight: 800;
      font-size: 20px;
      line-height: 1.17;

      &-2 {
        font-size: 24px;
        line-height: 1.52;
      }
    }
  }
}

.border {
  &-t{
    border-top: 1px solid;
    &-p2{
      border-top: 1px solid $primary-2;
    }
    &-w{
      border-top: 1px solid $white;
    }
  }
  &-b {
    border-bottom: 2px solid $black-5;
  }
}


