:root {
  --body-font-family: var(--font-plus-jakarta);
  --body-font-weight: 400;
  --body-font-size: 13px;
  --body-font-size-2: 14px;
  --body-line-height: 1.72;
  --body-line-height-2: 1.6;
  --body-color: var(--black);

  --body-3-font-family: var(--font-inter);

  --font-plus-jakarta: 'Plus Jakarta Sans', sans-serif;
  --font-inter: "Inter", sans-serif;


  --bg-1: #070052;
  --bg-2: #6941C6;

  --bg-3: #FFFFFF;
  --bg-4: #0F1326;
  --bg-5: #2A9E11;
  --bg-6: #F9F8FF;
  
  --overlay: #6F7373;
  
  --primary: #FFB800;
  --primary-2: #7F56D9;
  --secondary: #FF5D33;
  
  --secondary-blue: #0E0062;
  --title-color: #03071E;
  --text-color: #5d5d66;
  --pragraph-color: rgba(3, 7, 30, 0.60);
  --blue-bright: #01C6FD;
  --blue: #00A3FF;
  --blue-navy: #3300FF;
  --green: #00D12E;
  --blue-light: #026AA2;
  --orange: #FF4516;
  --piple: #BE04B7;
  --red: #FF005C;
  --red-2: #CC1800;
  --color-title-50: rgba(3, 7, 30, 0.50);


  --white: #FFFFFF;
  --white-2: #F8FAFF;
  --white-3: #E2E1E1;
  --white-4: #F9F8FF;
  --white-5: #E0F2EB;
  --white-6: #EDF2FF;
  --white-7: #EDEDED;

  --gray: #C1C1C1;
  --gray-2: #858585;
  --gray-3: #BDBDBD;
  --gray-4: #B6B6B6;
  --gray-5: #939393;
  --gray-6: #475467;
  --gray-7: #7C8087;
  --gray-8: #101828;
  --gray-9: #899097;
  --gray-10: #1B1B1B;
  --gray-11: #535353;

  

  --black: #000000;
  --black-1: #050505;
  --black-2: #17161A;
  --black-3: #232323;
  --black-4: #070707;
  --black-5: #242527;
  --black-6: #2D2D2D;
  --black-7: #1D293F;
  --black-8: #2C2629;
  --black-9: #323232;
  --black-10: #292929;
  --black-11: #080808;
  --black-12: #141414;
  --black-13: #2C2D35;
  --black-14: #3F4049;
  --black-15: #2D293E;
  --black-16: #121212;
  --black-17: #151515;
  --black-18: #060606;
  --black-19: #03071e;

  --black-50: #ebebeb;
  --black-100: #d6d9dc;
  --black-150: #c8ccd0;
  --black-200: #bbc0c4;
  --black-300: #7d848d;
  --black-350: #9199a1;
  --black-400: #848d95;
  --black-500: #6a737c;
  --black-600: #535a60;
  --black-700: #3c4146;
  --black-750: #2f3337;
  --black-800: #242729;
  --black-900: #03071E;
}
