/*----------------------------------------*/
/*  About Area
/*----------------------------------------*/
.about {
  &-area {
    .shape {
      z-index: -1;

      &:nth-child(1) {
        @include absolute(right 0 top 30%);
      }
      &:nth-child(2) {
        @include absolute(right 20% bottom 20%);
      }
      &:nth-child(3) {
        @include absolute(left 0 bottom 5%);
      }
    }

    &-2 {
      @include pseudo(right -50% top 0) {
        transform: rotate(3deg);
        @include size(300%, 100%);
        background-color: $black-11;
        z-index: -1;
      }
    }
  }

  &-title {
    position: relative;
    z-index: 99;

    h2, h4 {
      color: $black;
    }
  }

  &-images {
    position: relative;
    padding-bottom: 100px;

    .shape {
      &:nth-child(1) {
        z-index: -1;
        @include absolute(top 10px left 0);
      }
      &:nth-child(2) {
        transition: all .3s linear;
        opacity: 0;
        @include absolute(bottom 0 right -40px);
        z-index: 999;
      }
    }

    &:hover {
      .shape {
        &:nth-child(2) {
          opacity: 1;
        }
      }
    }
  }

  &-content {
    p {
      font-size: 16px;
      line-height: 1.67;
      width: 80%;
    }
  }

  &-tab {
    .nav {
      border-bottom-color: $gray-8;
      margin-bottom: 40px;

      .nav-link {
        border: none;
        background: none;
        color: $white;

        font: {
          weight: 700;
          family: $font-plus-jakarta;
          size: 16px;
        }

        &.active {
          border-bottom: 1px solid $orange;
          color: $orange;
        }
      }
    }
  }

  &-skillbar {
    @include size(100%, 16px);
    position: relative;
    background: $white;
    border: 2px solid $black-12;
    box-shadow: 4px 4px 0px $black-12;
    transition:0.4s linear;
    transition-property:width, background-color;

    &-bar {
      @include size(0, 12px);
      background: $orange;
    }

    &-wrapper {
      margin-top: 50px;
    }

    &-item {
      &:not(:last-child) {
        margin-bottom: 32px;
      }
    }

    &-title {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 12px;

      span {
        text-transform: uppercase;
        display: block;
        font-weight: 600;
        color: $white-6
      }
    }
  }
}