/*----------------------------------------*/
/*  Award Area
/*----------------------------------------*/
.award {
  &-area {

  }

  &-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;
  }

  &-item {
    border: 1px solid $black-10;
    padding: 48px 30px 45px;

    h3 {
      font-size: 20px;
      font-weight: 600;
      margin-bottom: 25px;
    }

    p {
      color: $gray-7;
    }
  }

  &-img {
    min-height: 75px;
    margin-bottom: 30px;
  }
}
