/*----------------------------------------*/
/*  Integrations Area
/*----------------------------------------*/
.categories {
    &-area {
        // overflow: hidden;
        &-icon{
            margin: 0 auto;
            
        }

        
        &-list{
            img{
                min-height: 80px;
                
            }
        }
    }
    &-title{            
        font-size: 14px;
        font-weight: 700;
        line-height: 20px;
        
    }

    &-item{
        margin: 5px auto;
        display: flex;
        max-width: 190px;
        max-height: 176px;
        padding: 30px 37px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 8px;
        flex-shrink: 0;
        border-radius: 4px;
    }
    
}