/*----------------------------------------*/
/*  Services Area
/*----------------------------------------*/
.courses {
    &-area {
        &-2{
            .nav-pills{
                padding-bottom: 20px;
            }
            .nav-pills .nav-link{
                font-size: 16px;
                font-weight: 600;
                line-height: 24px;
                color: $color-title-50;
                display: flex;
                padding: 10px 14px;
                justify-content: center;
                align-items: center;
                gap: 8px;
            }
            .nav-pills .nav-link .badge-number{
                display: flex;
                padding: 2px 10px;
                align-items: center;
                border-radius: 16px;
                background: $white-7;

            }
            .nav-pills .nav-link.active, .nav-pills .show>.nav-link{
                background-color: $secondary-blue;
                color: #FFFEF9;
                .badge-number{
                    background-color: $primary;
                    color: $title-color;
                }
            }
        }

        &-3{

            .courses-box{
                .box-item{
                    .courses-review{
                        .courses-rating{
                            .courses-icon{
                                margin: auto 0;
                            }
                        }        
                    }
                }
            }
        }
        overflow: hidden;

    }
    
    &-box{
                
                
        .box-item {                
            border-radius: 8px;
            box-shadow: 0px 34.358px 171.789px 0px rgba(0, 0, 0, 0.11);  
            img.courses-img{
                width: 100%;
            }     
            .courses-content{
                padding: 0 16px 20px 16px;
                .courses-title {
                    font-size: 16px;
                }
                .courses-duration{
                    svg{
                        margin: auto 0;
                    }
                    color: $pragraph-color;
                    font-weight: 600;
                    font-size: 12px;
                    line-height: 18px;
                    letter-spacing: 0.28px;
                    .duration-lession{
                        margin: 0;
                        padding-left: 8px;
                    }
                }
            }
            
        }
    
    
    }
    &-review{
        padding-left: 10px;
        padding-right: 10px;

        .courses-rating{ 
            .courses-icon{
                margin-right: 3px;
            }
            .rating-number{
                color: $black-19;
                text-align: right;
                font-size: 14px;
                font-weight: 700;
                line-height: 28px;
                letter-spacing: -0.28px;
            }
        }
    }
    &-author{
                .author-title{
                    color: var(--title-70, rgba(3, 7, 30, 0.70));
                    font-weight: 700;
                    margin: auto 0;
                    font-size: 12px;
                    line-height: 24px;
                    padding-left: 5px;
                }
    }
    
    
    
    p.authro-text{
                color: var(--title-color, #03071E);
                letter-spacing: -0.36px;
                font-weight: 700;
                font-size: 16px;
                line-height: 22px;
                margin: auto;
                padding-left: 7px;
                padding-right: 12px;
    }
    p.authro-text-small{
                color: var(--title-50, rgba(3, 7, 30, 0.50));
                letter-spacing: -0.28px;
                font-weight: 700;
                font-size: 12px;
                line-height: 24px;
                margin: auto;
    }
}

