/*----------------------------------------*/
/*  hero Area
/*----------------------------------------*/
.hero {


    &-common {
        overflow: hidden;
        position: relative;
        z-index: 1;
    }

    &-area {
        background-color: $bg-1;
        color: $white;
        h1{
            color: $white;
        }

        h4.hero-subtitle-3{
            color: $primary;
        }

        &-btn{
            justify-content: center;
        }

        &-2{

            background-color: $white;
            color: $title-color;
            h1,h2,h3,h4,h5,h6{                
                color: $title-color;
            }

            .hero-linear {
                background: linear-gradient(110deg, rgba(255, 118, 6, 0.04) 14.55%, rgba(255, 205, 63, 0.20) 76.45%);
                position: absolute;
                width: 852px;
                height: 852px;
                left: -350px;
                bottom: -253px;
                transform: rotate(120deg);
                opacity: .5;
                filter: blur(100px);
            }

            .hero-users{
                .user-items{
                    position: relative;
                    .user-btn{
                      
                        border: none;
                        background: none;
                        
                    }
                    button.user-btn.user-1{
                        z-index: -9;
                    }
                    button.user-btn.user-2{                        
                        margin-left: -23px;
                        z-index: -8;
                    }
                    button.user-btn.user-3{
                        margin-left: -23px;
                        z-index: -7;
                    }
                    
                    h6.smallest-title {
                        border: 1px solid $white-6;
                        border-radius: 50%;
                        padding: 13px 6px;
                        margin-left: -20px;
                        background: $white-2;
                        font-size: 14px;
                        font-weight: 500;
                        color: $title-color;
                    }

                    
                    
                }

                .users-text{
                    color: $pragraph-color;
                    font-weight: 400;
                    width: 52%;
                    font-size: 14px;
                    line-height: 20px;
                    margin-left: 10px;
                }
            }
            .hero-left{
                position: relative;
                padding-top: 60px;

                .pricing-shape{
                    position: absolute;
                    left: 210px;
                    bottom: -40px;
                }
            }
            .hero-right{
                position: relative;
                
                .hero-ui {
                    .design-shapes{
                        position: absolute;
                        left: 60px;
                        bottom: -50px;
                        display: none;
                        svg{
                            max-width: 183px;
                        }
                    }
                }
                .hero-shapes {
                    position: absolute;
                    z-index: -1;
                    top: -98px;
                    left: -8px;
                    svg{
                        width: 102%;
                    }
                }
            }

            .hero-subscribe{
                position: relative;
                .underline-shapes-2{
                    position: absolute;
                    left: 0;
                    bottom: -18px;
                    svg{
                        width: 100%;
                    }
                }
            }
            

            
        }

        &-3{
            .hero-title{
                padding-top: 16px;
                padding-bottom: 24px;
            }
            h4,h1,p,a{
                color: $white;
            }
            
            .hero-search {
                padding-top: 24px;
                .form-group{
                    position: relative;
                    max-width: 456px;
                    width: 100%;
                    max-height: 60px;
                    height: 100%;
    
                    .search-icon {
                        position: absolute;
                        top: 5px;
                        right: 4px;
                        padding: 4px 5px 5px 5px;
                        border-radius: 50%;
                        .search-icon svg{
                            max-width: 30px;
                            max-height: 30px;
                            width: 100%;
                            height: 100%;
    
                        }
                    }
                }
                .form-group input {
                    border-radius: 40px;
                    padding: 10px 0 12px 16px;
                    width: 100%;
                    font-size: 14px;
                    line-height: 24px;
                    font-weight: 400;
                }
            }
        }

        .hero-blog{
            .articles-btn
                {
                    a{
                        font-family: Inter;
                        font-weight: 500;
                        font-size: 10px;
                        line-height: 12px;
                    }

                }

            .hero-text{
                color: $pragraph-color;
                font-weight: 400;
                font-size: 16px;
                line-height: 26px;
            }

            .hero-client{
                .client-title{
                    color: $black-17;
                    font-weight: 700;
                    letter-spacing: -0.18px;
                    font-size: 18px;
                    line-height: 28px;
                }

                .client-text{
                    color: $gray-6;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 26px;
                }
            }

            .break-line{
                display: none;
            }
        }
    }


    
    &-right{
        position: relative;
        

    }

    &-img{
            border-radius: 50%;
            width: 100%;
            max-width: 609px;
        }

    &-ui{
            position: absolute;
            left: -100px;
            z-index: 1;
            bottom: 60px;
            & .ui-design{
                display: none;
                border-radius: 20px;
                padding: 20px;
                
            }
            & .ui{
                &-img{
                    margin-right: 20px;
                    width: 50px;
                }
                &-content{
                    color: $black;
    
                }
                &-title{
                    color: $black;
                    font-weight: 700;
                    font-size: 16px;
                    letter-spacing: -.8px;
                }
                &-subtitle{
                    font-weight: 500;
                    font-style: 12px;
                    color: $gray-7;
                }
    
                &-bar{
                    width: 102px;
                    height: 4px;
                    border-radius: 4px;
                    background: $white-7;
                    position: relative;
                }
                &-bar::after{
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 80%;
                    height: 100%;
                    content: "";
                    background-color: $primary;
                }
            }

    }
    &-courses{
            position: absolute;
            z-index: -1;
            right: -90px;
            top: -36px;
            border-radius: 30px;
            & .metric{
               padding: 33px 33px 110px 33px;
               display: none;               
                &-subtitle{
                    color: $gray-7;
                    font-size: 15px;
                    font-weight: 500;
                    line-height: 24px;
                    font-style: normal;
                }
                &-title{
                    color: $black;
                    font-size: 20px;
                    font-weight: 700;
                    letter-spacing: -2px;
                    margin-top: 16px;
                    margin-bottom: 16px;                         
                    color: $black-900;                          
                    font-style: normal;
                    line-height: 30px;
                    letter-spacing: -0.48px;
                }
                &-text{
                    color: $black-19;
                    opacity: .6;
                }
               &-shape{
                   position: absolute;
                   bottom: 14px;
                   left: 20px;
               }
           }
    }

    &-title {
        font-weight: 700;
        font-size: 32px;
        line-height: 38px;
        letter-spacing: -2.2px;
        .break-line{
            display: none;
        }

        .break-line{
            display: none;
        }

        &-skills{
            position: relative;
            .underline-shapes{
                position: absolute;
                left: 0;
                bottom: -18px;
            }
        }
        
        span {
            &.small-img {
                display: none;
            }
        }

        &-2 {
            letter-spacing: -0.94px;
            font-size: 36px;
            line-height: 44px;
        }

        &-3 {
            font-size: 40px;
            line-height: 0.88;
            letter-spacing: -0.06em;
            color: $black;
            margin-top: 50px;
        }

        &-4 {
            font-weight: 800;
            font-size: 46px;
            line-height: 1.05;
        }

        &-5 {
            font-weight: 400;
            font-size: 46px;
            line-height: 1.15;
            letter-spacing: -0.03em;

            span, a {
                font-weight: 700;
            }

            a {
                color: $white;
                text-decoration: underline;
            }
        }
    }

    &-subtitle {
        color: $blue-bright;
        font-weight: 500;
        font-size: 10px;
        line-height: 1.71;
        text-transform: uppercase;
        display: inline-block;
        position: relative;

        @include pseudo(left 0 bottom 0) {
            @include size(100%, 2px);
            background: $blue-bright;
        }

        &-2 {
            font-weight: 600;
            font-size: 25px;
            line-height: 1.4;
            margin-top: 20px;
        }
        &-3{
            letter-spacing: -0.18px;
            font-weight: 700;
            font-size: 16px;
            line-height: 24px;
        }
    }

    &-text {
        font-weight: 600;
        font-size: 15px;
        text-align: justify;
        line-height: 25px;  
        .break-line{
            display: none;
        } 
        
        &-2{
            font-size: 16px;
            font-weight: 400;
            line-height: 26px; /* 162.5% */
            margin: 0 auto;
        }

    }

    &-users{
        padding-top: 32px;
        padding-bottom: 48px;
    }

    &-img {
        margin: 75px -100% 60px 0;

        &-2 {
            position: relative;
            z-index: 1;

            @include pseudo(left 0 top 0) {
                @include size(100%);
                background: $white-5;
                border-radius: 45px 10px;
                opacity: 0.1;
                z-index: 2;
            }

            .shapes {
                z-index: 3;

                &:nth-child(1) {
                    @include absolute(left -30% top -8%);
                }
                &:nth-child(2) {
                    @include absolute(left -5% bottom -4%);
                }
                &:nth-child(3) {
                    @include absolute(right -9% top -8%);
                }
                &:nth-child(4) {
                    @include absolute(right -8% top 39%);
                }
                &:nth-child(5) {
                    @include absolute(right -8% bottom -8%);
                }
            }
        }
    }

    &-content {
        h4 {
            font-size: 26px;
            line-height: 1.67;
            letter-spacing: -0.046em;
            margin-bottom: 16px;
        }

        a {
            color: $white;
            display: flex;
            align-items: center;
            gap: 10px;
            font-family: $font-plus-jakarta;
            font-weight: 700;
            font-size: 18px;
            line-height: 1.50;
            margin-top: 26px;

            &:hover {
                color: $primary;
            }
        }
    }

    &-timeline {
        @include absolute(top -155px right 0);

        img {
            position: relative;
            margin-left: auto;
            z-index: -1;
        }

        &-box {
            @include absolute(top 0 right 0);
            text-align: right;

            span {
                display: inline-block;
                font-family: $font-plus-jakarta;
                font-weight: 500;
                font-size: 22px;
                line-height: 2.27;
                margin-bottom: 23px;
            }

            h2 {
                font-size: 80px;
                line-height: 0.71;
            }
        }
    }

    &-social-links {
        ul {
            list-style: none;
            margin: 0;
            padding: 0;
            display: flex;
            align-items: center;
            gap: 20px;

            li {
                a {
                    color: $white;

                    &:hover {
                        color: $primary;
                    }
                }
            }
        }
    }

    &-search{
        max-width: 456px;
        margin: 0 auto;
    }
}

