/*----------------------------------------*/
/*  Platform Area
/*----------------------------------------*/

.platform{
    &-area{
        .platform-text{
            color: $pragraph-color;
            font-weight: 400;
            font-size: 14px;
            line-height: 22px;
            padding-top: 16px;
            padding-bottom: 24px;
        }
        .break-line{
            display: none;
        }

        .learn-title{
            color: $title-color;
            font-weight: 700;
            text-align: center;
            font-size: 24px;
            line-height: 36px;
            letter-spacing: -0.74px;
            padding-bottom: 8px;
        }

        .learn-subtitle{
            color: $color-title-50;
            text-align: center;
            font-weight: 400;
            font-size: 14px;
            line-height: 80%; 
        }

        .illustration-flow{
            position: relative;
            overflow: hidden;
            padding-top: 80px;
            .illustration-icon{
                position: absolute;
                top: 112px;
                left: 202px;
            }
            .flow-icon{
                border-radius: 5px;
                max-width: 30px;
                width: 100%;
                height: 30px;
                transform: rotate(45deg);
                &-1{
                    position: absolute;
                    margin-top: 40px;
                    background-color: $primary;                 
                    padding: 3px 4px 6px;
                    
                }
                &-2{
                    background-color: $blue;
                    z-index: 1;
                    margin-right: 13px;
                    padding: 3px 6px 6px;


                }

                
                & svg{
                    transform: rotate(-45deg);

                }
            }
            .flow-img{
                position: relative;
                & svg{
                    position: absolute;
                    z-index: -1;
                }
                & img{
                    padding: 16px;
                }
            }
            .flow-top{
                position: relative;
                .flow-text{
                    color: $black-12;
                    font-size: 10px;
                    font-weight: 500;
                    line-height: 140%;
                }
                .flow-content{
                    display: flex;
                    justify-content: center;
                    margin-left: 105px;
                    margin-top: 58px;
                    z-index: 1;
                }
            }
            .flow-middle{
                position: relative;
                .flow-content{
                    position: absolute;
                    display: flex;
                    bottom: 0px;
                    // right: 133px;
                    left: 406px;

                    .flow-text{
                        color: $black-12;
                        font-size: 10px;
                        font-weight: 500;
                        line-height: 140%;
                    }
                }
            }
            .flow-bottom{

                .flow-img{
                    left: 85px;

                    .big-icon{
                        position: absolute;
                        bottom: 96px;
                        left: 150px;
                        z-index: 1;
                    }
                }
            }
        }

    }
}