/*----------------------------------------*/
/*  Product Area
/*----------------------------------------*/
.product {
  &-area {
    .btn {
      border: 1px solid rgba(255, 255, 255, 0.2);
      margin-top: 30px;
    }
  }

  &-item {
    display: block;
    margin-bottom: 30px;
  }
}