/*----------------------------------------*/
/*  Review Area
/*----------------------------------------*/
.review {
    &-area{
        overflow: hidden;
        .review-slider{
            .swiper {
                box-shadow: 0px 16px 80px 0px rgba(0, 0, 0, 0.11);
            }
            position: relative;
            padding:0 10px;
            .slider-item{
                box-shadow: 0px 16px 80px 0px rgba(0, 0, 0, 0.11);
                border-radius: 4px;
                border: 1px solid rgba(27, 24, 24, 0.05);
                background: $white;
                padding: 25px 15px 15px 15px;

                
            }
        }
    }
    
    &-rating{
        
        font-size: 16px;
        font-weight: 700;
        line-height: 24px;
        svg{
            margin-top: 3px;
        }

    }
    
    &-title{
        color: $black-7;
        font-size: 16px;
        font-weight: 700;
        line-height: 24px;
        letter-spacing: -0.36px;
        margin-left: 4px;
        &-light{
            color: var(--paragraph, rgba(3, 7, 30, 0.60));
        }
    }
    &-text{
        margin-top: 15px;
        margin-bottom: 15px;
        font-size: 13px;

    }

    .swiper-button-next{
        right: -11px;
        border-radius: 50%;
        background-color: $secondary;
        max-width: 33px;
        width: 100%;
        height: 33px;
    }
    .swiper-button-prev{
        background-color: $white;
        border-radius: 50%;
        left: -11px;
        border: 1px solid rgba(27, 24, 24, 0.15);
        max-width: 33px;
        width: 100%;
        height: 33px;

    }

  }

