/*----------------------------------------*/
/*  Review Area
/*----------------------------------------*/
.statistics {
  
  &-title{
    font-size: 37px;
    font-weight: 700;
    line-height: 47px;
    letter-spacing: -2px;
  }

  &-text{
    color: $gray-2;
    font-weight: 500;
    margin-bottom: 10px;
  }
}