/*----------------------------------------*/
/*  Stories Area
/*----------------------------------------*/
.stories {
    &-area {

    }

    &-item {
        border-radius: 12px;
        position: relative;
        overflow: hidden;
        z-index: 1;
        margin-bottom: 30px;

        .img-bg {
            border-radius: 12px;
            @include absolute(left 0 top 0);
            @include size(100%);

            &.one {
                background: linear-gradient(0deg, #6F7ADE 0%, rgba(111, 122, 222, 0) 100%);
            }
            &.two {
                background: linear-gradient(0deg, #6FBEDE 0%, rgba(111, 190, 222, 0) 100%);
            }
            &.three {
                background: linear-gradient(0deg, #8C72CB 0%, rgba(140, 114, 203, 0) 100%);
            }
        }


        &-content {
            padding: 30px 25px;
            @include absolute(bottom 0 left 0);
            transform: translateY(100%);
            transition: all .3s linear;

            h4 {
                font-size: 22px;
                line-height: 1.33;
            }

            p {
                margin-top: 14px;
            }
        }

        &:hover {
            .stories-item-content {
                transform: translateY(0%);
            }
        }
    }
}