@keyframes pulses {
  0% {
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
    opacity: 1;
  }
  100% {
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
    opacity: 0;
  }
}

@keyframes bg-slide-in {
  0% {
    width: 0%;
    transform:translateX(0);
  }
  100% {
    width: 100%;
    transform:translateX(0);
  }
}

@keyframes bg-slide-out {
  0% {
    width:100%;
    transform:translateX(0);
  }
  98% {
    width: 100%;
    transform:translateX(100%);
  }
  99% {
    width: 0;
    opacity: 1;
  }
  100% {
    width: 0;
    transform:translateX(0);
    opacity: 0;
  }
}