/*----------------------------------------*/
/*  02. Header Area
/*----------------------------------------*/
.header-area {
  position: relative;
  z-index: 99999;
  transition: 0.4s all ease;
  .navbar {
    border: 0;
    border-radius: 0;
    padding: 10px 0;
    width: 100%;
    @include absolute(left 0 top 0);
    z-index: 20;
    img{
      width: 70%;
    }
    .logo-sticky {
      display: none;
    }

    &.navbar_fixed {
      background: $white;
      box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15);
      @include fixed(left 0 top 0 right 0);
      z-index: 99;
      transition: all 0.2s, top 0.4s linear;

      .btn {
        &-bordered {
          border-color: $black;
          color: $black;

          &:hover {
            border-color: $primary;
            color: $primary;
          }
        }

        &-rounded {
          border-radius: 35px;
        }
      }

      .logo-sticky {
        display: block;
      }

      .logo-main {
        display: none;
      }

      .navbar-nav {
        .nav-item {
          .nav-link {
            color: $gray-2;

            &:hover,
            &.active {
              color: $primary;
            }
          }
        }
      }

      .menu_toggle {
        .hamburger {
          span {
            background: $black;
          }
        }

        .hamburger-cross {
          span {
            background: $black;
          }
        }
      }
    }
  }

  .navbar-nav {
    gap: 20px;
    

    .dropdown-toggle {
      &:after {
        display: none;
      }
    }

    > .nav-item {
      > .nav-link {
        color: $white;
        font-size: 15px;
        font-weight: 500;
        line-height: 1.87;
        padding: 0;

        &.active,
        &:hover {
          color: $primary;
        }

        
      }

      .mobile_dropdown_icon {
        @include absolute(right 0 top 7px);
        color: $gray-2;
        font-size: 20px;
        opacity: 0.6;
      }

      &.submenu {
        .dropdown-menu {
          margin: 0;
          border-radius: 4px;
          left: -26px;
          min-width: max-content;
          border: 1px solid #e6eeef;
          background: $white;
          padding: 20px 0;
          box-shadow: 0 30px 40px 0 rgb(4 73 89 / 10%);

          .nav-item {
            padding: 0 40px 0 30px;
            transition: all 0.3s linear;
            position: relative;

            .nav-link {
              padding: 0;
              white-space: nowrap;
              font-size: 14px;
              font-weight: 500;
              color: $gray-2;
              transition: color 0.2s linear;
              position: relative;
              display: inline-block;
              background: transparent;

              &:hover,
              &.active {
                color: $primary;
              }
            }
          }

          @include pseudo(left 40px top -6px) {
            @include size(12px);
            border-left: 1px solid #e6eeef;
            border-top: 1px solid #e6eeef;
            background: $white;
            transform: rotate(45deg);
            display: none;
          }
        }
      }
    }
  }

  .right-nav {
    margin-top: 20px;

    .right-nav-search{
      padding-bottom: 25px;
    }
    .right-nav-chart{
      padding-bottom: 25px;
    }
    svg{
      color: $gray-2;
    }

    &-btn {
      margin-left: 71px;
      font-weight: 700;
      border-color: $primary;
      position: relative;
      .signup-btn{
        padding:11px 12px;
        border-radius: 8px 0 0 8px;
        background-color: $primary;
        color: $black;
        margin: 0 auto;
        position: absolute;
        left: -70px;
      }
      .signup-btn-2{
        padding:11px 12px;
        border-radius: 8px 0 0 8px;
        background: $secondary-blue;
        color: $white-2;
        margin: 0 auto;
        position: absolute;
        left: -70px;
      }
      .signin-btn{
        padding:9px 16px;
        color:$primary;
        border-radius:0 8px 8px 0;
        border: 2px solid $primary;
      }
      .signin-btn-2{
        padding:9px 16px;
        color:$secondary-blue;
        border-radius:0 8px 8px 0;
        border: 2px solid $secondary-blue;

      }
    }

    &-chart{
      position: relative;
      margin: 0;
      padding: 0;
      &-number{
        font-size: 10px;
        top: -6px;
        left: 13px;
        background-color: $secondary;
        border-radius: 30px;
        position: absolute;
        padding: 0 5px;
      }
    }
  }

  .navbar-toggler {
    border: none;
    box-shadow: none;
    padding: 0;
  }

  .menu_toggle {
    @include size(22px);
    position: relative;
    cursor: pointer;
    display: block;

    .hamburger {
      position: absolute;
      @include size(100%);
      display: block;

      span {
        @include size(0%, 2px);
        @include relative(top 0 left 0);
        margin: 4px 0;
        display: block;
        background: $white;
        border-radius: 3px;
        transition: 0.2s ease-in-out;

        &:nth-child(1) {
          transition-delay: 0s;
        }

        &:nth-child(2) {
          transition-delay: 0.125s;
        }

        &:nth-child(3) {
          transition-delay: 0.2s;
        }
      }
    }

    .hamburger-cross {
      position: absolute;
      @include size(100%);
      transform: rotate(45deg);
      display: block;

      span {
        display: block;
        background: $white;
        border-radius: 3px;
        transition: 0.2s ease-in-out;

        &:nth-child(1) {
          @include size(2px, 100%);
          @include absolute(top 0 left 10px);
          transition-delay: 0.3s;
        }

        &:nth-child(2) {
          @include size(100%, 2px);
          @include absolute(left 0 top 10px);
          transition-delay: 0.4s;
        }
      }
    }
  }

  .collapsed {
    .menu_toggle {
      .hamburger {
        span {
          width: 100%;

          &:nth-child(1) {
            transition-delay: 0.3s;
          }

          &:nth-child(2) {
            transition-delay: 0.4s;
          }

          &:nth-child(3) {
            transition-delay: 0.5s;
          }
        }
      }

      .hamburger-cross {
        span {
          height: 0%;

          &:nth-child(1) {
            transition-delay: 0s;
          }

          &:nth-child(2) {
            transition-delay: 0.2s;
          }
        }
      }
    }
  }

  .navbar-collapse {
    background: $white;
    padding: 30px;
    box-shadow: 3px 5px 5px 0px rgba(23, 23, 23, 0.1);
    border-radius: 5px;
    max-height: 490px;
    overflow-y: scroll;
    margin-top: 15px;
    justify-content: space-between;

    &.show {
        .navbar-nav {
          .nav-item {
            .nav-link {
              color: $gray-2;

              &.active,
              &:hover {
                color: $primary;
              }
            }
          }
        } 
    }
  }
}
.header-area-2 {
  position: relative;
  z-index: 99999;
  transition: 0.4s all ease;
  .navbar {
    border: 0;
    border-radius: 0;
    padding: 10px 0;
    width: 100%;
    @include absolute(left 0 top 0);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15);
    z-index: 20;
    img{
      width: 70%;
    }
    .logo-sticky {
      display: none;
    }

    &.navbar_fixed {
      background: $white;
      box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15);
      @include fixed(left 0 top 0 right 0);
      z-index: 99;
      transition: all 0.2s, top 0.4s linear;

      .btn {
        &-bordered {
          border-color: $black;
          color: $black;

          &:hover {
            border-color: $primary;
            color: $primary;
          }
        }

        &-rounded {
          border-radius: 35px;
        }
      }

      .logo-sticky {
        display: block;
      }

      .logo-main {
        display: none;
      }

      .navbar-nav {
        .nav-item {
          .nav-link {
            color: $gray-2;

            &:hover,
            &.active {
              color: $primary;
            }
          }
        }
      }
      .menu_toggle {
        .hamburger {
          span {
            background: $black;
          }
        }

        .hamburger-cross {
          span {
            background: $black;
          }
        }
      }
    }
  }

  .navbar-nav {
    gap: 20px;

    .dropdown-toggle {
      &:after {
        display: none;
      }
    }

    > .nav-item {
      > .nav-link {
        color: $gray-2;
        font-size: 15px;
        font-weight: 500;
        line-height: 1.87;
        padding: 0;

        &.active,
        &:hover {
          color: $primary;
        }

        
      }

      .mobile_dropdown_icon {
        @include absolute(right 0 top 7px);
        color: $gray-2;
        font-size: 20px;
        opacity: 0.6;
      }

      &.submenu {
        .dropdown-menu {
          margin: 0;
          border-radius: 4px;
          left: -26px;
          min-width: max-content;
          border: 1px solid #e6eeef;
          background: $white;
          padding: 20px 0;
          box-shadow: 0 30px 40px 0 rgb(4 73 89 / 10%);

          .nav-item {
            padding: 0 40px 0 30px;
            transition: all 0.3s linear;
            position: relative;

            .nav-link {
              padding: 0;
              white-space: nowrap;
              font-size: 14px;
              font-weight: 500;
              color: $gray-2;
              transition: color 0.2s linear;
              position: relative;
              display: inline-block;
              background: transparent;

              &:hover,
              &.active {
                color: $primary;
              }
            }
          }

          @include pseudo(left 40px top -6px) {
            @include size(12px);
            border-left: 1px solid #e6eeef;
            border-top: 1px solid #e6eeef;
            background: $white;
            transform: rotate(45deg);
            display: none;
          }
        }
      }
    }
  }

  .right-nav {
    margin-top: 20px;

    .right-nav-search{
      padding-bottom: 25px;
    }
    .right-nav-chart{
      padding-bottom: 25px;
    }
    svg{
      color: $gray-2;
    }

    .nav-btn {
      margin-left: 71px;
      font-weight: 700;
      border-color: $primary;
      position: relative;
      &-1{
        padding:11px 12px;
        border-radius: 8px 0 0 8px;
        background-color: $primary;
        color: $black;
        margin: 0 auto;
        position: absolute;
        left: -70px;
      }
      &-2{
        padding:9px 16px;
        color:$primary;
        border-radius:0 8px 8px 0;
        border: 2px solid $primary;
      }
    }

    &-chart{
      position: relative;
      margin: 0;
      padding: 0;
      &-number{
        font-size: 10px;
        top: -6px;
        left: 13px;
        background-color: $secondary;
        border-radius: 30px;
        position: absolute;
        padding: 0 5px;
      }
    }
  }

  .navbar-toggler {
    border: none;
    box-shadow: none;
    padding: 0;
  }

  .menu_toggle {
    @include size(22px);
    position: relative;
    cursor: pointer;
    display: block;

    .hamburger {
      position: absolute;
      @include size(100%);
      display: block;

      span {
        @include size(0%, 2px);
        @include relative(top 0 left 0);
        margin: 4px 0;
        display: block;
        background: $black;
        border-radius: 3px;
        transition: 0.2s ease-in-out;

        &:nth-child(1) {
          transition-delay: 0s;
        }

        &:nth-child(2) {
          transition-delay: 0.125s;
        }

        &:nth-child(3) {
          transition-delay: 0.2s;
        }
      }
    }

    .hamburger-cross {
      position: absolute;
      @include size(100%);
      transform: rotate(45deg);
      display: block;

      span {
        display: block;
        background: $black;
        border-radius: 3px;
        transition: 0.2s ease-in-out;

        &:nth-child(1) {
          @include size(2px, 100%);
          @include absolute(top 0 left 10px);
          transition-delay: 0.3s;
        }

        &:nth-child(2) {
          @include size(100%, 2px);
          @include absolute(left 0 top 10px);
          transition-delay: 0.4s;
        }
      }
    }
  }

  .collapsed {
    .menu_toggle {
      .hamburger {
        span {
          width: 100%;

          &:nth-child(1) {
            transition-delay: 0.3s;
          }

          &:nth-child(2) {
            transition-delay: 0.4s;
          }

          &:nth-child(3) {
            transition-delay: 0.5s;
          }
        }
      }

      .hamburger-cross {
        span {
          height: 0%;

          &:nth-child(1) {
            transition-delay: 0s;
          }

          &:nth-child(2) {
            transition-delay: 0.2s;
          }
        }
      }
    }
  }

  .navbar-collapse {
    background: $white;
    padding: 30px;
    box-shadow: 3px 5px 5px 0px rgba(23, 23, 23, 0.1);
    border-radius: 5px;
    max-height: 490px;
    overflow-y: scroll;
    margin-top: 15px;

    &.show {
        .navbar-nav {
          .nav-item {
            .nav-link {
              color: $gray-2;

              &.active,
              &:hover {
                color: $primary;
              }
            }
          }
        } 
    }
  }
}



