/* Small */
@media screen and (min-width: 576px) {
    .hero-area-2 .hero-right .hero-shapes{
        top: -46px;
        left: -8px;
    }

    .footer-area .solutions-subtitle{
        top: -10px;
        right: 115px;
    }


}

/* Medium */
@media screen and (min-width: 768px) {

   

    /* Utilities */
    .section-title-6 {
        font-size: 48px;
    }

    .section-text{
        margin: 0 21%;
    }
    
    .md-block{
        display: block;
    }

    /* hero Area */

    .hero-subtitle {
        font-size: 14px;
    }
    .hero-title {
        font-size: 44px;
        line-height: 50px;
        letter-spacing: -1.2px;
    }
    .hero-title-2 {
        font-size: 47px;
        line-height: 57px;
    }
    .hero-area-2 .hero-title {
        font-size: 44px;
        line-height: 50px;
        letter-spacing: -1.2px;
    }

    .hero-area .hero-blog .hero-title{
        line-height: 57px;
    }

    .hero-text {
        font-size: 16px;
        line-height: 1.7;
        letter-spacing: 1.2px;
    }
    .hero-title span.small-img {
        display: inline-block;
    }

    .hero-subtitle-2 {
        margin-top: 40px;
    }
    .hero-subtitle-3 {
        font-size: 18px;
        line-height: 28px;
    }

    .hero-title-skills .underline-shapes{
        bottom: -20px;
    }
    .hero-text-2 {
        width: 91%;
    }

    .hero-area-2 .hero-users .users-text{
        width: 26%;
        font-size: 15px;
        line-height: 21px;
        margin-left: 14px;
    }
    .hero-area-2 .hero-left{
        padding-top: 90px;
    }

    .hero-area-2 .hero-right .hero-shapes{
        top: 53px;
        left: -19px;
    }
    .hero-timeline-box h2 {
        font-size: 100px;
    }
    .hero-text-3 {
        font-size: 20px;
    }

    .hero-area-2 .hero-right .hero-ui .design-shapes{
        display: block;
    }



    .hero-area .hero-blog .articles-btn a{
        font-size: 14px;
        line-height: 20px;
    }

    .hero-area .hero-blog .hero-client .client-title{
        font-size: 18px;
        line-height: 28px;
    }

    .hero-area .hero-blog .hero-client .client-text{
        font-size: 16px;
        line-height: 26px;
    }

    .form-group input {
        padding: 16px 0 18px 22px;
        font-size: 16px;
        line-height: 26px;
    }
    .form-group .search-icon {
        position: absolute;
        top: 5px;
        right: 4px;
        padding: 11px 12px 12px 12px;
        border-radius: 50%;

    }
    /* Statistics Area */
    .statistics-text{
        margin-bottom: 0;
    }
    /* Integrations Area */
    .categories-item {
        margin: 5px;
    }
        /* Categories Area */
        .categories-title{
            text-align: center;
            font-style: normal;
            font-weight: 700;
            letter-spacing: -0.36px;
            font-size: 16px;
            line-height: 24px;
        }
    /* Courses Area */
    .courses-title{
        font-size: 18px;
    }

    /* Contact Area */
    .contact-title-big {
        font-size: 80px
    }
    .contact-row > * {
        flex: 0 0 auto;
        width: 50%;
    }
    .contact-info:first-child {
        margin-top: 70px;
    }
    .contact-info:not(:last-child) {
        margin-bottom: 50px;
    }



    /*Review Area*/
    .review-text{
        font-size: 14px;
    }

    .review-slider .swiper-button-next{
        right: -34px;
        max-width: 56px;
        width: 100%;
        height: 56px;
    }
    .review-slider .swiper-button-prev {

        left: -34px;
        max-width: 56px;
        width: 100%;
        height: 56px;
    }
    .presentations-slider .swiper-button-next{
        right: -34px;
        max-width: 56px;
        width: 100%;
        height: 56px;
    }
    .presentations-slider .swiper-button-prev {

        left: -34px;
        max-width: 56px;
        width: 100%;
        height: 56px;
    }

    /*Clients Area*/
    .clients-row {
        grid-template-columns: repeat(3, 1fr);
    }

    /*Review Area*/
    .review-quote {
        font-size: 22px;
    }

    /*presentations  Area*/
    .presentations-area .presentations-slider .presentations .pagination .page-number{
        display: block;
    }

    /*Processore Area*/
    .processore-area .cpu-content .social-icon ul{
        display: grid;
        padding-left: 0;
    }

    .processore-area .cpu-content .cpu-text{
        font-size: 16px;
        line-height: 26px;
    }

    .processore-area .cpu-content .cpu-title{
        font-size: 29px;        
        line-height: 39px;
    }

    .processore-area .cpu-content .cpu-qut{
        font-size: 22px;
        line-height: 32px;
    }

    /*Footer Area*/

    .footer-title{
        letter-spacing: -0.58px;
        font-size: 26px;
        line-height: 32px;  
        margin: 0 8%;
    }
    .footer-text{
        font-size: 14px;
        line-height: 23px;
        margin-bottom: 25px;
    }

    .footer-content-3 a {
        font-size: 28px;
    }
    .footer-content-3 p {
        width: 70%;
    }
    .footer-social-link-3 ul {
        justify-content: flex-end;
    }
    .footer-menu-2 ul li a {
        text-align: right;
    }

    .footer-menu ul li a{
        font-size: 14px;
        line-height: 18px;
    }

    .footer-menu .menu-title{
        
        font-size: 20px;
        line-height: 28px;
        letter-spacing: -0.22px;
        padding-bottom: 16px;
    }

    .footer-area .solutions-subtitle{
        top: -10px;
        right: 115px;
        line-height: 16px;
        font-size: 11px;
    }

    .copiright-area p{
        font-size: 15px;
        line-height: 20px;
    }

}

/* Large */
@media screen and (min-width: 992px) {

    /* Utilities */
    .section-title {
        font-size: 40px;
    }
    .section-title-2 {
        font-size: 32px;
        line-height: 41px;
    }
    .section-text {
        font-size: 16px;
        font-weight: 600;
        line-height: 26px;
        margin: 0 26%;
    }

    .section-item-title {
        font-size: 40px;
    }
    .section-item-title-2 {
        font-size: 36px;
    }

    .lg-block{
        display: block;
    }

    

    /* Header Area */
    .header-area .navbar {
        padding-top: 29px;
        padding-bottom: 21px;
    }

    a.navbar-logo{
        margin-top: -10px;
    }
    .header-area .navbar.navbar_fixed {
        padding: 15px 0;
    }
    
    .header-area .navbar-nav > .nav-item .mobile_dropdown_icon {
        display: none;
    }
    .header-area .navbar-nav > .nav-item.submenu .dropdown-menu {
        -webkit-transition: all 0.3s ease-in;
        transition: all 0.3s ease-in;
        -webkit-transform: translateY(40px);
        transform: translateY(40px);
        opacity: 0;
        visibility: hidden;
        display: block;
    }
    .header-area .navbar-nav > .nav-item.submenu .dropdown-menu::before {
	    display: block;
    }
    .header-area .navbar-nav > .nav-item.submenu:hover .dropdown-menu {
        -webkit-transform: translateY(20px);
        transform: translateY(20px);
        opacity: 1;
        visibility: visible;
    }
    .header-area .navbar.navbar_fixed .navbar-nav > .nav-item.submenu:hover .dropdown-menu {
        -webkit-transform: translateY(26px);
        transform: translateY(26px);
    }
    .header-area .navbar-collapse {
        background: initial;
        overflow-y: initial;
        box-shadow: none;
        max-height: max-content;
        height: auto;
        border-radius: 0;
        padding: 0;
        margin-top: 0;
    }


    .header-area .nav-separator{
        display: block;
    }
    .header-area .right-nav {
        margin-left: 40px;
        margin-top: 0;
        display: flex;
    }

    .header-area .right-nav .right-nav-search{
        padding-bottom: 0;
    }
    .header-area .right-nav .right-nav-chart{
        padding-bottom: 0;
    }

    .header-area .right-nav-chart-number{
        right: -8px;
    }

    .header-area .right-nav-btn{
        left: 30px;
        margin-top: 0;
    }

    /* hero Area */
    /* .hero-area {
        padding: 252px 0 120px;
    }
    .hero-area-2 {
        padding: 150px 0 81px;
    } */
    .hero-area-btn{
        justify-content: left;
    }

    .hero-area .hero-right .ui-design{
        display: flex;
    }
    .hero-area .hero-courses .metric{
        display: block;
    }
    
    .hero-area .hero-title {
        font-size: 48px;
        line-height: 60px;
        margin-top: 0;
        
    }


    .hero-area-2 .hero-users .users-text{
        width: 38%;
        font-size: 16px;
        line-height: 23px;
        margin-left: 16px;
    }

    .hero-title-skills .underline-shapes{
        bottom: -25px;
    }

    .hero-area-2 .hero-right .hero-shapes{
        top: -56px;
        left: -12px;
    }
    

    .hero-content h4 {
        font-size: 30px;
    }
    .hero-timeline-box h2 {
        font-size: 140px;
    }
    .hero-content a {
        font-size: 20px;
    }

    .hero-area .hero-blog .hero-text{
        font-size: 16px;
        line-height: 26px;
    }

    .hero-text-3 {
        font-size: 24px;
    }
    
    .hero-area .ui-design {
        visibility: visible;
    }

    .hero-area-2 .hero-right .hero-ui .design-shapes{
        left: 26px;
        bottom: 30px;
    }


    
    /* Courses Area */
    .courses-content{
        padding: 0 10px 14px 10px;
    }
    .courses-duration{
        font-size: 14px;
        line-height: 22px;
    }

    .courses-author .author-title{
        font-size: 14px;
        line-height: 19px;
        padding-left: 7px;
    }

    p.post-authro .author-text {
        font-size: 18px;
        line-height: 28px;
    }
    p.post-authro .author-text-small{
        font-size: 14px;
        line-height: 28px;
    }

    /* Team Area */

    .team-title{        
        font-size: 22px;
        line-height: 32px;
        letter-spacing: -0.22px;
        margin-top: 24px;
        margin-bottom: 4px;
    }
    .team-subtitle{        
        font-size: 16px;
        font-weight: 400;
        line-height: 26px;
        
    }
    /* Review Area */
    .review-rating svg{
        margin-top: 5px;
    }
    .review-title{
        font-size: 18px;
        line-height: 28px;
        margin-left: 5px;
    }

    .review-area .review-slider .slider-item{
        padding: 45px 29px 29px 29px;
    }

    
    .review-slider .swiper-button-next{
        right: -24px;
        max-width: 56px;
        width: 100%;
        height: 56px;
    }
    .review-slider .swiper-button-prev {
        left: -24px;
        max-width: 56px;
        width: 100%;
        height: 56px;
    }


    .small-title{
        font-size: 14px;
        line-height: 28px;
        letter-spacing: -0.28px;
      }
      .small-text{
        font-size: 10px;
        line-height: 26px;
      }
    /* Work Area */
  

    /* Categories Area */



    /* Contact Area */


    /*Clients Area*/
    .clients-row {
        grid-template-columns: repeat(6, 1fr);
    }



    /*Articles area*/
    .articles-subtitle{
        font-size: 14px;
        line-height: 20px;
        margin-top: 34px;
        margin-bottom: 8px;
    }
    .articles-title{
        font-size: 22px;
        line-height: 28px;
    }
    .articles-text{
        font-size: 16px;
        line-height: 24px;
        padding-top: 8px;
        padding-bottom: 24px;
    }

    /* Thinking Area */
    .thinking .thinking-title{
        font-size: 22px;
        line-height: 32px;
    }
    .thinking .thinking-text{
        line-height: 26px;
        font-size: 16px;
    }

    /* Processore Area */
    .processore .break-line{
        display: block;
    }

    /* Footer Area */
    .footer-menu {
        padding-top: 0;
    }
    .footer-title{
        letter-spacing: -0.58px;
        font-size: 28px;
        line-height: 36px;  
        margin: 0 18%;
    }
    .footer-text{
        font-size: 15px;
        line-height: 24px;
        margin-top: 16px;
        margin-bottom: 40px;
    }

    .footer-area-content .footer-text-2{
        font-size: 16px;
        line-height: 26px;
        margin-top: 36px;
    }

    .footer-menu ul li a{
        font-size: 15px;
        line-height: 20px;
    }

    .copiright-area p{
        text-align: left;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
    }

    .footer-area .solutions-subtitle{
        top: -8px;
        right: 55px;
        line-height: 18px;
        font-size: 12px;
    }


}

/* Extra large */
@media screen and (min-width: 1200px) {
    .container-xs{
        max-width: 960px;
        margin: 0 auto;
    }
    .container-sm{
        max-width: 1120px;
        margin: 0 auto;
    }
    .section-text{
        margin: 0 32.5%;
    }

    /* Header Area */
    .header-area-3 .collapse.show + .navbar-toggler {
        top: 100px;
        right: 100px;
    }
    
    /* hero Area */


    .hero-title {
        font-size: 60px;
        line-height: 72px;
    }

    .hero-area-2 .hero-title {
        font-size: 60px;
        line-height: 72px;
        letter-spacing: -1.2px;
    }

    .hero-text {
        font-size: 20px;
    }

    .hero-area-2 .hero-users .users-text{
        width: 30%;
        font-size: 16px;
        line-height: 23px;
    }

    .hero-area-2 .hero-right .hero-shapes{
        top: 20px;
        left: -15px;
    }

    .header-area .navbar-nav {
        gap: 45px;
    }

    .hero-area .hero-right .hero-ui{
        left: -110px;
        bottom: 110px;
    }

    .hero-area-2 .hero-right .hero-ui .design-shapes{
        left: 64px;
        bottom: -115px;
    }
    /* Categories Area */
    .categories-item {
        margin: 20px;
    }
    .categories-title{

        font-size: 18px;
        line-height: 28px;
    }

    /* courses Area */
    .courses-title{
        font-size: 20px;
    }

    .courses-author .author-title{
        font-size: 14px;
        line-height: 28px;
        padding-left: 8px;
    }
    /*About area*/
    .about-tab .nav .nav-link {
        font-size: 20px;
    }

    /*Review area*/
    
    .review-item {
        width: 55%;
    }

    .review-text{
        font-size: 15px;
    }

    .review-quote {
        font-size: 28px;
        margin: 60px 0 38px;
    }
    .review-slider .swiper-button-next{
        right: -7px;
        max-width: 56px;
        width: 100%;
        height: 56px;
    }
    .review-slider .swiper-button-prev {
        left: -7px;
        max-width: 56px;
        width: 100%;
        height: 56px;
    }

    .review-area .review-slider{
        padding:0 32px;
    }

    

    

    /* Footer Area */
    .footer-title{
        letter-spacing: -0.58px;
        font-size: 29px;
        line-height: 39px;  
        margin: 0 25%;
    }
    .footer-text{
        font-size: 16px;
        line-height: 26px;
    }

    .footer-menu .menu-title{        
        font-size: 22px;
        line-height: 32px;
        letter-spacing: -0.22px;
    }

    .footer-menu ul li a{
        font-size: 16px;
        line-height: 24px;
    }

    .footer-area .solutions-subtitle{
        top: -8px;
        right: -8px;
    }
}

/* Extra extra large */
@media screen and (min-width: 1400px) {

    .container-md{
        max-width: 1348px;
        margin: 0 auto;
    }
    .container-md-2{
        max-width: 1344px;
        margin: 0 auto;
    }
    .container-lg{
        max-width: 1359px;
        margin: 0 auto;
    }

    .container-xl{
        max-width: 1648px;
        margin: 0 auto;
    }
    /* Utilities */
    .section-title {
        font-size: 47px;
    }

    .section-item-title {
        font-size: 60px;
    }


  

    /* hero Area */
    

    
    .hero-img-2 {
        width: max-content;
    }

    .hero-area .hero-courses .metric{
        right: -120px;
    }

    .hero-area .hero-courses .metric-title{
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: 39px;
        letter-spacing: -0.48px;
    }
    .hero-area .hero-courses .metric-subtitle{
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 26px;
        margin-bottom: 0;
    }

    /* Services Area */
    .services-item-title {
        font-size: 22px;
    }
    .services-item p {
        font-size: 18px;
    }

    /* Integrations Area */


    /* Strategies Area */
    .strategies-content-item .details h4 {
        font-size: 20px;
    }
    .strategies-content-item .details p {
        font-size: 18px;
    }

    /* Work Area */



    /* Team Area */
    .team-item h4 {
        font-size: 25px;
        margin-top: 37px;
    }
    .team-item p {
        margin-top: 14px;
    }

    /* Popular Courses Area */


    /* Courses Area */
    .courses-box a,h6{
        font-size: 13px;
        font-weight: 700;
        
    }

    /* Contact Area */
    .contact-row {
        margin: 0 -70px;
    }
    .contact-title-big {
        font-size: 150px;
        margin-top: -70px;
    }
    .contact-form-title {
        font-size: 32px;
    }

    /* Review Area */
    .review-item{        
        padding: 45px 30px 30px 30px;
    }
    .review-text{
        font-size: 16px;
    }

    /*Articles area*/
    .articles-title{
        font-size: 24px;
        line-height: 32px;
    }

    /* Footer Area */
    .footer-area-content .footer-text-2{
        margin-left: 32px;
        width: 70%;
        margin-top: 50px;
    }
}

@media screen and (min-width: 1600px) {
    .courses-box a, h6{
        font-size: 14px;
    }
}